## Q1) Identify the data type of the following values:

99.9,"False",False,'0',0,True,'True',[{}],{'a':[]}

In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(0)

int

In [6]:
type(True)

bool

In [7]:
type('True')

str

In [8]:
type([{}])

list

In [9]:
type({'a':[]})

dict

## Q2)  What data type would best represent the following?

-A term or phrase typed into a search box

ans:- String(Text)


-Whether or not a user is logged in

ans:- Boolean


-A discount amount to apply to a user's shopping cart

ans:- float


-Whether or not a coupon code is valid

ans:- Boolean


-An email address typed into a registration form

ans:- String


-The price of a product

ans:- float


-The email addresses collected from a registration form

ans:- list


-Information about applicants to Codeup's data science program

ans:- dict

## Q3) For each of the following code blocks:

Read the expression and predict the evaluated results

Execute the expression in a Python REPL.


'1' + 2

6 % 4

type(6 % 4)

type(type(6 % 4))

'3 + 4 is ' + 3 + 4

0 < 0

'False' == False

True == 'True'

5 >= -5

True or "42"

6 % 5

5 < 4 and 1 == 1

'codeup' == 'codeup' and 'codeup' == 'Codeup'

4 >= 0 and 1 !== '1'

6 % 3 == 0

5 % 2 != 0

[1] + 2

[1] + [2]

[1] * 2

[1] * [2]

[] + [] == []

{} + {}

In [10]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [12]:
6 % 4

2

In [13]:
type(6 % 4)

int

In [14]:
type(type(6 % 4))

type

In [15]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [17]:
0 < 0

False

In [18]:
'False' == False

False

In [19]:
True == 'True'

False

In [20]:
5 >= -5

True

In [21]:
True or "42"

True

In [22]:
5 >= -5

True

In [23]:
True or "42"

True

In [24]:
6 % 5

1

In [25]:
5 < 4 and 1 == 1

False

In [26]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [27]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (3850088429.py, line 1)

In [29]:
6 % 3 == 0

True

In [30]:
5 % 2 != 0

True

In [31]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [33]:
[1] + [2]

[1, 2]

In [34]:
[1] * 2

[1, 1]

In [35]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [36]:
[] + [] == []

True

In [37]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

## Describe the following scenarios. You will need to create and assign variables and use operators.



4. You have rented some movies for your kids:

The Little Mermaid for 3 days

Brother Bear for 5 days

Hercules for 1 day

If the daily fee to rent a movie is 3 dollars, how much will you have to pay?




5. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars

Amazon: 380 dollars

Facebook: 350 dollars

This week you worked: 10 hours for Facebook, 6 hours for Google, and 4 hours for Amazon.

How much will you receive in payment for this week?





6. A student can be enrolled in a class only if the class is not full and the class schedule does not conflict with    her current schedule.







7. A product offer can be applied only if a customer buys more than 2 items, and the offer has not expired.
   Premium members do not need to buy a specific amount of products.

In [38]:
## Q4) above 

# Define the number of days each movie is rented
little_mermaid_days = 3
brother_bear_days = 5
hercules_days = 1

# Define the daily rental fee per movieb
daily_rental_fee = 3  # 3 dollars per day

# Calculate the total cost for each movie
little_mermaid_cost = little_mermaid_days * daily_rental_fee
brother_bear_cost = brother_bear_days * daily_rental_fee
hercules_cost = hercules_days * daily_rental_fee

# Calculate the total cost for all movies
total_cost = little_mermaid_cost + brother_bear_cost + hercules_cost

# Print the total cost
print("Total cost for renting movies: $", total_cost)

Total cost for renting movies: $ 27

In [39]:
## OR for Q4)
little_mermaid=3
brother_bear=5
hercules=1

total_no_days=little_mermaid+brother_bear+hercules
rent_fee=3

pay=total_no_days*rent_fee
pay

27

## Q5) Suppose you're working as a contractor for 3 companies: Google, Amazon and     Facebook.

They pay you the following hourly rates:

Google: 400 dollars

Amazon: 380 dollars

Facebook: 350 dollars

This week you worked: 10 hours for Facebook, 6 hours for Google, and 4 hours for Amazon.

How much will you receive in payment for this week?

In [40]:
## Q5) above

# Define the pay in hourly rates:
google=400
amazon=380
facebook=350

# Define the number of worked for this week in those companies:
worked_google=6
worked_amazon=4
worked_facebook=10

#Calculate the payment that he receives from each company:
payment_google=worked_google*google
payment_amazon=worked_amazon*amazon
payment_facebook=worked_facebook*facebook

# Calculate the total payment that he receives:
total_payment=payment_google+payment_amazon+payment_facebook

#Print the total payment:
print("Total payment for all three companies: $",total_payment)

Total payment for all three companies: $ 7420

## Q6) A student can be enrolled in a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [41]:
is_full=False
schedule_conflict=False

In [42]:
can_enroll=not schedule_conflict and not is_full
can_enroll

True

## Q7) A product offer can be applied only if a customer buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [43]:
buy_more_than_2= True
offer_expired= True
is_premium =True

In [44]:
product_offer=(buy_more_than_2 or is_premium) and not offer_expired  ## (True or True) and not True
product_offer

False

## Q8) Use the following code to follow the instructions below:


username = 'codeup'

password = 'notastrongpassword'

Create a variable that holds a boolean value for each of the following 

conditions:

The password must be at least 5 characters

The username must be no more than 20 characters

The password must not be the same as the username

In [45]:
username='codeup'
password= 'notastrongpassword'

#conditions
is_password_long_enough=len(password)>=5
is_password_within_limit=len(password)<=20
is_password_different_from_username=password != username


# Testing the conditions
print("Password is at least 5 characters:", is_password_long_enough)
print("Username is no more than 20 characters:", is_password_within_limit)
print("Password is different from the username:", is_password_different_from_username)

Password is at least 5 characters: True
Username is no more than 20 characters: True
Password is different from the username: True

In [46]:
## or 
username='codeup'
password='notastrongpassword'

In [47]:
len(password)>=5

True

In [48]:
len(password)<=20

True

In [49]:
password !=username

True

## BQ) Neither the username or password can start nor end with whitespace

In [50]:
no_whitespace_user=len(username)==len(username.strip())
no_whitespace_pass=len(password)==len(password.strip())

In [51]:
no_whitespace_user

True

In [52]:
no_whitespace_pass

True

In [53]:
## to understand only strip() function

un=' codeup'

In [54]:
len(un)

7

In [55]:
len(un.strip()) ## strip() doesnot count the space(s)

6